*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.8rem;
    background-color: rgb(126, 126, 126);
    color: #ececec;
}

header {
    padding: 2rem;
    color: black;
    background-color: rgb(201, 200, 200);
    text-align: center;
    margin: 0 auto;
}

.conteiner {
    max-width: clamp(375px, 80vw, 1200px) ;
    margin: 0 auto;
    padding: 2rem 2rem 0.5rem 2rem;
}

h1 {
    font-size: 2rem;
    font-weight: 2rem;

    padding-bottom: 1rem;
}

.datetime {
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.article-text {
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

blockquote {
    border-left: 5px solid gold;
    border-radius: 5px;
    padding-left: 1.5rem;
    font-style: italic;
    font-weight: 500;
    color: black;
}

footer p {
    color: red;
    background-color: #191919;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}

.btn {
    background-color: #336ce7;
    color: white;
    border-radius: 8px;
    padding: 0.5rem;
    max-width: 200px;
    margin: 0 auto;
    text-decoration: wavy;
}